body{
    background-color: rgb(204, 204, 197);
}

#products__containers {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

.administrator__rights{
    border: 1px solid rgb(0, 116, 116);
    background-color: aqua;
    font-weight: 400;
    padding: 5px;
    cursor: pointer;
}

.content_wrapper {
    width: 300px;
    border: 2px solid green;
    background-color: rgb(218, 221, 175);
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.product__name{
    text-align: center;
}

.product__picture{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.product__specifications {
    list-style-type: none;
    text-align: left;
    padding-left: 5px;
}

.product__buy {
    margin: 0 auto;
    width: 100px;
    cursor: pointer;
}